
<aside class="w-64 h-screen bg-gray-900 text-white flex flex-col shadow-lg">

  <div class="p-4 text-2xl font-bold border-b border-gray-700">
    HospitalSys
  </div>

  <nav class="flex-grow p-2">
    <ul>
      <li *ngFor="let link of links" class="mb-1">

        <a [routerLink]="link.path"
           class="flex items-center p-3 rounded-lg hover:bg-gray-700 transition-colors duration-200">

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
            <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="link.icon" />
          </svg>

          <span>{{ link.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="p-4 border-t border-gray-700">
    <p class="text-sm">David Alcázar</p>
    <a href="#" class="text-xs text-red-400 hover:underline">Cerrar Sesión</a>
  </div>

</aside>
