<div class="overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">
        Insumo
      </th>
      <th scope="col" class="px-6 py-3">
        Stock Actual
      </th>
      <th scope="col" class="px-6 py-3">
        Días Restantes Estimados
      </th>
      <th scope="col" class="px-6 py-3">
        Nivel de Riesgo
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let insumo of insumos" class="bg-white border-b hover:bg-gray-50">

      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
        {{ insumo.nombre }}
      </th>

      <td class="px-6 py-4">
        {{ insumo.cantidadActual }} {{ insumo.unidadMedida }}
      </td>

      <td class="px-6 py-4">
        {{ insumo.diasStockRestante ?? '-' }}
      </td>

      <td class="px-6 py-4 whitespace-nowrap">
          <span [ngClass]="getBadgeClasses(insumo.diasStockRestante ?? 0)">
            {{ getNivelRiesgo(insumo.diasStockRestante ?? 0) }}
          </span>
      </td>
    </tr>
    <tr *ngIf="!insumos || insumos.length === 0">
      <td colspan="4" class="px-6 py-4 text-center text-sm text-gray-500">
        No hay insumos para mostrar.
      </td>
    </tr>

    </tbody>
  </table>
</div>
